* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calcCont {
    background-color: gray;
    height: 550px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.textCont {
    background-color: white;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: 20px 5%;
    border-radius: 5px;
    padding: 10px;
    font-size: 60px;
}

.butCont {
    margin: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    flex: 1;
    gap: 8px;
    padding: 8px;
    align-content: flex-end;
}

.numBut,
.calcBut,
.equals {
    height: 70px;
    flex: 0 0 calc(25% - 6px);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.zeroBut {
    height: 70px;
    flex: 0 0 calc(51% - 8px);
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-size: 30px;
}

.clearBut {
    height: 70px;
    flex: 0 0 calc(51% - 8px);
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 30px;
}

.numBut {
    background-color: greenyellow;
}

.calcBut, 
.equals {
    background-color: orange;
}

.invis {
    background-color: gray;
    height: 70px;
    flex: 0 0 calc(25% - 6px);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background: none;
    outline: none;
    font: inherit;
    color: inherit;
    padding: 0;
    cursor: pointer;
    appearance: none;
}